
/* gradient */
@mixin gradient($from, $to) {
  background: $from;
  background: -moz-linear-gradient(left, $from 0%, $to 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, $from), color-stop(100%, $to));
  background: -webkit-linear-gradient(left, $from 0%, $to 100%);
  background: -o-linear-gradient(left, $from 0%, $to 100%);
  background: -ms-linear-gradient(left, $from 0%, $to 100%);
  background: linear-gradient(to right, $from 0%, $to 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$from', endColorstr='$to', GradientType=1 );
}

/* cover */
@mixin cover {
  &::before {
    top: 0;
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    @include gradient($mainColor, $secondColor);
    opacity: 0.7;
  }
}

/* clearfix */

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
