.footer {
    margin-top: 7em;
    background-image: url("../images/footer_bg.jpg");
    @extend %cover;
    background-size: contain;

    &__content {
        opacity: 0;
        position: relative;
        z-index: 2;

        h3 {
            font-size: 4em;
            font-weight: 400;
            text-align: center;
            padding: 2em 0;
            text-transform: uppercase;
            letter-spacing: 0.1em;
        }
    }

    &__form {
        transform: translateX(10%);
        @include clearfix;

        &__control {
            @include clearfix;
            float: left;
            position: relative;
            margin-bottom: 5em;
            width: calc(100% / 2);

            &--input {
                background: transparent;
                -webkit-appearance: none;
                appearance: none;
                border: none;
                color: $lightColor;
                border-bottom: 3px solid $lightColor;
                width: 64%;
            }

            &--label {
                transition: 0.2s;
                position: absolute;
                left: 0;
                top: - 0.9em;
                font-size: 2em;

                &-animated {
                    font-size: 1.2em;
                    top: -2em;
                }
            }

            &__textarea {
                textarea {
                    border: none;
                    overflow: auto;
                    outline: none;
                    box-shadow: none;
                    resize: none;
                    background: transparent;
                    border: 3px solid $lightColor;
                    width: 80%;
                    height: 20em;
                    color: $lightColor;
                    padding-top: 1em;
                    padding-left: 1em;
                    font-size: 1.5em;

                    &::-webkit-input-placeholder {
                        color: $lightColor;
                    }
                }
            }
        }
    }
    &__social {
      text-align: center;
      &--ico {
        &:nth-child(2) {
          margin: 0 2em;
        }
        cursor: pointer;
        display: inline-block;
        background-image: url("../images/icons.png");
        &-fb {
          background-position: $facebook-offset-x $facebook-offset-y;
          width: $facebook-width;
          height: $facebook-height;
        }
        &-instagram {
          background-position: $instagram-offset-x $instagram-offset-y;
          width: $instagram-width;
          height: $instagram-height;
        }
        &-tt {
          background-position: $twitter-offset-x $twitter-offset-y;
          width: $twitter-width;
          height: $twitter-height;
        }
      }
    }
    &__copyright {
      margin-top: 2em;
      text-align: center;
    }
}
