
*:focus {
    outline: none;
}

html {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

body {
    font-size: 10px;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: 'Lato', sans-serif;
}

.onepage {
  position: relative;
  width: 100%;
  height: 100%;
  transition: all .2s linear;
}

.container {
  z-index: 1;
  width: 960px;
  margin: 0 auto;
}

/* inheritance */
%cover {
  @include cover;
  color: white;
  position: relative;
  background-position: center;
  background-size: cover;
}
